.title_tab {
  text-align: center;
  background-color: rgb(36, 36, 37);  
  color: whitesmoke; 
  padding: 16px; 
}

.transparent-list {
  background-color: transparent; 
}

ion-item {
  background-color: #001f3f; 
  color: goldenrod; 
  border-radius: 8px; 
  margin: 8px 0; 
  padding: 16px; 
}

.alimento-image {
  border: 2px solid goldenrod; 
  border-radius: 8px; 
  width: 80px; 
  height: 80px;
  object-fit: cover; 
  transition: transform 0.3s ease;

}

.alimento-image:hover {
  transform: scale(1.1); 
}
.agregar-button {
  background-color: white; 
  color: black; 
  font-weight: bold; 
  font-style: italic; 
  border: 2px solid black; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  margin-top: 10px; 
}

.content_img {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

ion-toast {
  --background: white; 
  --color: black; 
  --border-radius: 10px; 
  text-align: center; 
  font-weight: bold; 
}