.title_container {
  position: relative;
  text-align: center;
  background: rgba(255, 255, 255, 0.7); 
  padding: 20px;
}

.title_tab h2 {
  color: red; 
  font-weight: bold; 
  margin: 0; 
}

.header-image {
  width: 100%;
  height: auto;
  animation: pendulum 2s ease-in-out infinite; 
}

@keyframes pendulum {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px); 
  }
}

.adoption-card {
  background-color: purple; 
  color: whitesmoke; 
  margin: 8px; 
  border-radius: 8px; 
  text-align: center; 
}

.adoption-card img {
  width: 100%; 
  border-radius: 8px 8px 0 0; 
}

.pet-name {
  color: goldenrod; 
  font-weight: bold; 
}

.pet-message {
  text-align: center; 
  margin: 0; 
}

ion-card-title {
  font-weight: bold; 
}
.adopcion-confirmada {
  color: green;
  font-weight: bold;
  margin-top: 10px;
  font-size: 16px;
}


  