<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="assets/img/adoptame.png" alt="Imagen de Adopción" class="header-image pendulum" />
  <div class="title_container">
    <div class="title_tab">
      <h2>Adopta</h2>
      <h2>Un K-Nino te está esperando</h2>
    </div>
  </div>
  <ion-item>
    <ion-label position="floating" class="input-label">Ubicación</ion-label>
    <ion-input [(ngModel)]="ubicacion" readonly></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="obtenerUbicacion()" class="location-button">
    Obtener Ubicación KninoWoof
  </ion-button>

  <div id="map" style="height: 300px; margin-top: 20px;"></div>

  <ion-list>
    <ion-item *ngFor="let adopta of adoptame">
      <ion-card class="adoption-card">
        <img [src]="adopta.imagen" alt="{{ adopta.nombre }}" />
        <ion-card-header>
          <ion-card-title class="pet-name">{{ adopta.nombre }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ adopta.mensaje }}</p>
          <ion-button 
            *ngIf="!adopta.adoptado" 
            expand="full" 
            color="danger" 
            (click)="adoptar(adopta)">
            <ion-icon slot="start" name="heart"></ion-icon>
            Adoptar
          </ion-button>
          <ion-button 
            *ngIf="adopta.adoptado" 
            expand="full" 
            color="success" 
            disabled>
            Knino Adoptado
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>




