<ion-content [fullscreen]="true" class="register-background">
  <div class="register-container">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button menu="mainMenu"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-card class="register-card">
      <ion-card-header>
        <ion-card-title class="card-title">Registro de Usuario</ion-card-title>
        <ion-icon name="person-add" class="zoom-icon"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating" class="input-label">Nombre</ion-label>
          <ion-input [(ngModel)]="usuario.nombre" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="input-label">Apellido</ion-label>
          <ion-input [(ngModel)]="usuario.apellido" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="input-label">Email</ion-label>
          <ion-input [(ngModel)]="usuario.email" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="input-label">Contraseña</ion-label>
          <ion-input [(ngModel)]="usuario.password" type="password" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="input-label">Dirección</ion-label>
          <ion-input id="address-input" type="text" [(ngModel)]="usuario.direccion" (ionInput)="onInputChange($event)" required></ion-input>
        </ion-item>

        <ion-list *ngIf="suggestions.length > 0">
          <ion-item *ngFor="let suggestion of suggestions" (click)="selectAddress(suggestion)">
            {{ suggestion.description }}
          </ion-item>
        </ion-list>

        <ion-item>
          <ion-label class="date-label">Fecha de Nacimiento</ion-label>
          <ion-input type="date" class="date-input" [(ngModel)]="usuario.fechaNac"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card class="pet-card">
      <ion-card-header>
        <ion-card-title class="card-title">Registra tu K-Nino</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="image-container">
          <img *ngIf="!mascota.foto" src="assets/img/puppy.png" alt="K-Nino" class="k-nino-image" />
        </div>

        <ion-item>
          <ion-label position="floating" class="input-label">Nombre del K-Nino</ion-label>
          <ion-input [(ngModel)]="mascota.nombre" name="mascotaNombre" required></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating" class="input-label">Raza</ion-label>
          <ion-input [(ngModel)]="mascota.raza" name="mascotaRaza" required></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating" class="input-label">Edad</ion-label>
          <ion-input [(ngModel)]="mascota.edad" name="mascotaEdad" required></ion-input>
        </ion-item>

      </ion-card-content>
    </ion-card>

    <ion-button expand="full" (click)="registrar()" fill="clear" class="save-button">
      <ion-icon slot="start" name="add-circle"></ion-icon>
      Guardar
    </ion-button>

    <ion-button expand="full" (click)="limpiar()" fill="clear" class="clean-button">
      <ion-icon slot="start" name="remove-circle"></ion-icon>
      Limpiar
    </ion-button>
  </div>
</ion-content>



